.im {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 2em;
}

.landing-text {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 3.75em;
    /*padding-top: 30px;*/
}

.me {
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0;
}

.container {
    padding-top: 2%;
    padding-bottom: 5%;
}

.about {
    text-align: center;
    font-size: 3em;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
}

.abt-me {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

.the-form {
    padding: 2%;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

.my-button {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1em;
    color: white;
    background-color: black;
    padding: 15px 40px;
}

.final-button {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.7em;
    color: white;
    background-color: dodgerblue;
    padding: 2% 3%;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
}